/*Reset the CSS*/
* {
    margin: 0;
    padding: 0
}

html {
    font-size: 16px;
}

button {
    border: none;
}

/* font and font size */

h1 {
    font-family: 'Fredericka the Great', cursive;
    color: royalblue;
}

h2, h3, h4, h5, h6 {
    font-family: 'Ruda', sans-serif;
}

h3 {
    font-size: 36px;
}

p, a {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

h2 {
    font-size: 48px;
    margin: 36px 0 0;
    text-align: center;
}

/*Header & Nav Bar*/

header {
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}

header > nav {
    align-self: center;
    height: 100%;
}

nav > button{
    padding: 10px;
    background-color: white;
}

nav > button:hover {
    background-color: lightgray;
}

nav > button:active {
    background-color: grey;
}

/*hero image*/
.hero {
    background: url(../img/elena-mozhvilo-header.jpg) no-repeat center;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . . . . ."
      "slogan slogan slogan next-event next-event ."
      "button button button next-event next-event  ."
      "button button button . . ."; 
}

.next-event {
    grid-area: next-event;
    background-color: white;
    text-align: center;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan {
    margin-right: 20px;
    color: white;
    grid-area: slogan;
    justify-self: center;
    align-self: end;
    margin: 24px 0;
}

.slogan > p{
    font-size: 2.5em;
}

.next-event > p {
    margin: 24px;
    font-size: 2em;
    font-weight: 600;
}

#join-here {
    grid-area: button;
    justify-self: center;
    align-self: center;
    height: 30%;
    width: 50%;
    font-size: 1.5em;
    font-weight: 400;
    background-color: #0070C5;
    color: snow;
}

#join-here:hover {
    background-color: darkslateblue;
}

#join-here:active {
    background-color: white;
    color: gray;
}

/*Overview*/

.introduction {
    min-height: 25vh;
}

.introduction-sections {
    padding: 16px 24px;
    margin: 24px;
    min-height: 25vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: 1px grey double;
}

.intro-section {
    text-align: center;
    max-width: 50vh;
    margin: 24px 0;
}

.brief-intro {
    flex-grow: 6;
}

.activity {
    flex-grow: 4;
}

/* showcase */

.showcase {
    margin: 24px;
    
}

.showcase > p {
    font-size: 2em;
    text-align: center;
    margin: 24px 0;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 5%;
}


figure.sample-work > img {
    object-fit: cover;
    width: 40vh;
    height: 40vh;
    margin: 10px;
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    border-top: 1px grey double;
}


/* smaller screen*/
@media screen and (max-width: 1024px) {
    .hero {
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: repeat(6, 1fr); 
        gap: 0px 0px; 
        grid-template-areas: 
          ". . . ."
          "next-event next-event next-event next-event"
          "next-event next-event next-event next-event"
          ". . . ."
          "slogan slogan slogan slogan"
          "button button button button"
          ". . . ."; 
          justify-items: center;
    }

    .next-event {
        width: 80%;
        height: 100%;
    }

    #join-here {
        justify-self: center;
        width: 60%;
        height: 6vh;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 600px) {
    nav {
        display: none;
    }

    .next-event {
        background-color: white;
        text-align: center;
        padding: 24px 0;
        display: flex;
    }

    .slogan {
        color: white;
        grid-area: slogan;
        justify-self: center;
        align-self: end;
        margin: 24px 0;
    }

    .slogan > p {
        font-size: 2em;
        text-align: center;
    }

    #start-here {
        padding: 10px;
    }
}

@media screen and (max-aspect-ratio: 19.5 / 9){
    nav {
        display: none;
    }
    h1{
        font-size: 4em;
    }
    .hero {
        height: 30vh;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: repeat(6, 1fr); 
        gap: 0px 0px; 
        grid-template-areas: 
          ". . . ."
          "next-event next-event next-event next-event"
          "next-event next-event next-event next-event"
          "slogan slogan slogan slogan"
          ". button button ."
          ". button button .";
    }

    h2 {
        font-size: 3em;
    }

    .introduction-sections {
        padding: 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .introduction-sections {
        flex-direction: column;
    }

    .intro-section {
        max-width: 90%;
    }
    
    .next-event {
        width: 70%;
        height: 80%;
    }

    #join-here {
        width: 100%;
        height: 4vh;
    }
}